@model Diplomado_MVC_HTML_Helps_Persona.Models.Persona

@{
    Layout = null;
}

<h2>EditarPersona</h2>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Editar Persona</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            <p>
                Código:
                @Html.EditorFor(model => model.Codigo)
            </p>
            <p>
                Nombre:
                @Html.EditorFor(model => model.Nombre)
            </p>
            <p>
                Peso:
                @Html.EditorFor(model => model.Peso)
            </p>
            <p>
                Trabaja?:
                @Html.EditorFor(model => model.Trabaja)
            </p>
            <p>
                Fecha de nacimiento:
                @Html.EditorFor(model => model.FechaNacimiento)
            </p>
            <p>
                <input type="submit" value="Confirmar" />
            </p>
        }
    </div>
</body>
</html>